aws_asl/pipline_aws_step_function_state_language.asl.json
{
  "Comment": "End to End Event Driven Etl Automation pipline cdk",
  "StartAt": "Start Glue Crawler",
  "States": {
    "Start Glue Crawler": {
      "Type": "Task",
      "Parameters": {
        "Name": "customer_crawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Get crawler status"
    },
    "Get crawler status": {
      "Type": "Task",
      "Parameters": {
        "Name": "customer_crawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Next": "Check crawler Status"
    },
    "Check crawler Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait for crawler Status"
        },
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "READY",
          "Next": "Glue Start JobRun"
        },
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "READY",
          "Next": "Start an Athena query"
        }
      ],
      "Default": "Wait for crawler Status"
    },
    "Wait for crawler Status": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Get crawler status"
    },
    "Glue Start JobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "customer_data_job"
      },
      "Next": "GetJob"
    },
    "GetJob": {
      "Type": "Task",
      "Next": "Check Glue JobRun state Status",
      "Parameters": {
        "JobName": "customer_data_job"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getJob"
    },
    "Check Glue JobRun state Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Send glue state status results to admin"
        },
        {
          "Variable": "$.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Send glue state status results to admin"
        }
      ]
    },
    "Send glue state status results to admin": {
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:851725420683:job-completed",
        "Message": {
          "Input.$": "$.JobRun.JobRunState"
        }
      },
      "Type": "Task",
      "End": true
    },
    "Start an Athena query": {
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "select * from customers",
        "WorkGroup": ""
      },
      "Type": "Task",
      "Next": "Get query results"
    },
    "Get query results": {
      "Resource": "arn:aws:states:::athena:getQueryResults",
      "Parameters": {
        "QueryExecutionId.$": "$.QueryExecution.QueryExecutionId"
      },
      "Type": "Task",
      "Next": "Send query results to admin"
    },
    "Send query results to admin": {
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:851725420683:job-completed",
        "Message": {
          "Input.$": "$.ResultSet.Rows"
        }
      },
      "Type": "Task",
      "End": true
    }
  }
}